<include file="Admin:header" />

<table width="100%" height="31px" border="0" cellpadding="0" cellspacing="0" class="left_topbg" id="table2">
      <tr>
        <td height="31"><div class="titlebt">添加下载</div></td>
      </tr>
    </table>
<div class="main">
	<div class="form">
		<form method='post' id="form_do" name="form_do" action="__URL__/do_add" enctype="multipart/form-data">
		<dl>
			<dt> 下载分类：</dt>
			<dd>
				<select name="fid">
					<volist name="fl" id="v">
					<option value="<{$v.id}>"><{$v.name}></option>
					</volist>
				</select>
			</dd>
		</dl>
		<dl>
			<dt> 下载标题：</dt>
			<dd>
				<input type="text" name="title" class="inp_w250" value="" />
			</dd>
		</dl>
			<dl>
				<dt> 上传文件：</dt>
				<dd>
					<input type="file" name="loadurl" class="inp_w250" value="" />
				</dd>
			</dl>
		<dl>
			<dt> 是否显示：</dt>
			<dd>
				<input type="radio" name="is_show" value="1" checked="checked" />是
				&nbsp;&nbsp;
				<input type="radio" name="is_show" value="2" />否
			</dd>
		</dl>
		<dl>
			<dt> 排序：</dt>
			<dd>
				<input type="text" name="paixu" class="inp_w250" value="0" />
			</dd>
		</dl>
		<include file="Admin:editor" />
		<dl>
			<dt> 内容：</dt>
			<dd>
		<div>
		<textarea id="intro" name="content" style="width:700px;height:400px;"/></textarea>
		</div>
			</dd>
		</dl>
		<div class="form_b">
			<input type="submit" class="btn_blue" id="submit" value="提 交">
		</div>
	   </form>
	</div>
</div>
<include file="Pubilc:copyright" />
</body>
</html>
