<include file="Admin:header" />
<table width="100%" height="31px" border="0" cellpadding="0" cellspacing="0" class="left_topbg" id="table2">
    <tr>
        <td height="31"><div class="titlebt"><php> echo date('Y-m-d',time());</php>待用积分返还</div></td>
    </tr>
</table>
<div class="main">
	<div class="left">
        <form method='post' id="form_do" name="form_do" action="__URL__/fanhuan" enctype="multipart/form-data">
            <input type="submit" class="btn_blue" id="submit" value="点击返还" style="margin:10px;">
        </form>
    </div>
</div>
<include file="Pubilc:copyright" />
</body>
</html>
