<include file="Admin:header"/>
<script>
    //ajax请求二级分类
    function getCates2(obj) {
        var cateid = obj.value;
        $.ajax({
            url: "__URL__/reqCate2",
            dataType: "json",
            data: {
                'id': cateid,
            },
            success: function (res) {
                console.log(res);
                var str = '';
                if (res.code == 0) {
                    $.each(res.data,function (i, item) {
                        str += ' <option value="' + item.id + '">' + item.name + '</option>';
                    });
                    $('#cate2').html(str);
                }
            }
        });
    }
</script>
<table width="100%" height="31px" border="0" cellpadding="0" cellspacing="0" class="left_topbg" id="table2">
    <tr>
        <td height="31">
            <div class="titlebt">添加商品</div>
        </td>
    </tr>
</table>
<div class="main">
    <div class="form">
        <form method='post' id="form_do" name="form_do" action="__URL__/do_add" enctype="multipart/form-data">

            <dl>
                <dt> 商品分类：</dt>
                <dd>
                    <select name="fid">
                        <foreach name="fl" item="fv">
                            <option value="<{$fv.id}>"><{$fv.name}></option>
                        </foreach>
                    </select>
                    <!-- zyg <select onchange="getCates2(this)">
                        <foreach name="fl" item="fv">
                            <option value="<{$fv.id}>"><{$fv.name}></option>
                        </foreach>
                    </select>
                    <?php if($fl2){?>
                    <select name="fid" id="cate2">
                        <foreach name="fl2" item="fv2">
                            <option value="<{$fv2.id}>"><{$fv2.name}></option>
                        </foreach>
                    </select>
                    <?php }?>-->
                </dd>
            </dl>
            <dl>
                <dt> 商品名称：</dt>
                <dd>
                    <input type="text" name="name" class="inp_w250" value=""/>
                </dd>
            </dl>

            <dl>
                <dt> 推荐人编号：</dt>
                <dd>
                    <input type="text" name="tjr_bh" class="inp_w250" value=""/>
                </dd>
            </dl>

            <!--<dl>
                <dt> 消费分类：</dt>
                <dd>
                    <input type="radio" name="xf_fl" value="1"/>&nbsp;爱国消费卷
                    <input type="radio" name="xf_fl" value="2"/>&nbsp;可用积分
                </dd>
            </dl>-->

            <dl>
                <dt> 首页位置：</dt>
                <dd>
                    <input type="radio" name="index_post" value="1"/>&nbsp;精选商品
                    <input type="radio" name="index_post" value="2"/>&nbsp;爱国消费卷
                    <input type="radio" name="index_post" value="3"/>&nbsp;推荐专区
                    <input type="radio" name="index_post" value="4"/>&nbsp;新品专区
                </dd>
            </dl>


            <!--<dl>
                <dt> 限购数量：</dt>
                <dd>
                    <input type="text" name="xgnum" class="inp_w250" value="" />
                </dd>
            </dl>-->
            <dl>
                <dt> 现金：</dt>
                <dd>
                    <input type="text" name="xianjing" class="inp_w250" value=""/>
                </dd>
            </dl>

            <dl>
                <dt> 需可用积分：</dt>
                <dd>
                    <input type="text" name="jifen" class="inp_w250" value=""/>
                </dd>
            </dl>
            <dl>
                <dt> 需爱国消费券：</dt>
                <dd>
                    <input type="text" name="agxfq" class="inp_w250" value=""/>
                </dd>
            </dl>
            <!--<dl>
                <dt> 奖励积分：</dt>
                <dd>
                    <input type="text" name="jiangli" class="inp_w250" value="" />
                </dd>
            </dl>-->
            <dl>
                <dt> 商品库存：</dt>
                <dd>
                    <input type="text" name="kucun" class="inp_w250" value=""/>
                </dd>
            </dl>
            <dl>
                <dt> 商品规格：</dt>
                <dd>
                    <input type="text" name="guige" class="inp_w250" value=""/>
                </dd>
            </dl>
            <div class="pic_suolue">
                <dl>
                    <dt> 商品缩略图：</dt>
                    <dd>
                        <div class="litpic_show">
                            <div>
                                <input name="pic" id="pic" type="file" style="height:30px;"/>
                            </div>

                        </div>
                    </dd>
                </dl>

                <dl>
                    <dt> 商品图组：</dt>
                    <dd>
                        <div>
                            <div><input type="button" id="add_img" value="再来一张" class="btn"/></div>
                        </div>

                        <div class="litpic_show">

                            <input name="pic_arr[]" id="pic" type="file" class="inpFlie"
                                   style="height:30px;margin-left:135px;"/><a class="del" id="del"
                                                                              style="cursor: pointer">X</a>
                            <div class="div_img" style="margin-left:135px; clear:both;"></div>


                        </div>


                    </dd>
                </dl>


                <script>
                    $(function () {
                        $("#add_img").click(function () {
                            $(".div_img").append('<div><input type="file" name="pic_arr[]" class="inpFlie" style="height:30px;"/><a class="del" style="cursor: pointer">X</a></div>');
                        });
                        $(".del").live("click", function () {
                            $(this).parent().remove();
                        });
                    });
                </script>


                <dl>
                    <dt> 排序：</dt>
                    <dd>
                        <input type="text" name="paixu" class="inp_w250" value="0"/>
                    </dd>
                </dl>
                <include file="Admin:editor"/>
                <dl>
                    <dt> 内容：</dt>
                    <dd>
                        <div>
                            <textarea id="intro" name="content" style="width:700px;height:400px;"/></textarea>
                        </div>
                    </dd>
                </dl>
                <div class="form_b">
                    <input type="submit" class="btn_blue" id="submit" value="提 交">
                </div>
        </form>
    </div>
</div>


<include file="Pubilc:copyright"/>
</body>
</html>
