/* 一下是积分转账样式 header-1 是公共应用 */

.box-ten{  background:#fff; width: 100%;  }
/* .header{ width: 100%; height:60px; background:#1d75d9;}
.header-1 a{ display: block; float: left; width: 6.6%;min-width: 20px; background:url(../img/01.gif) no-repeat center; margin:0 auto; height:60px;line-height: 60px; text-align: center;font-size: 1rem;}
.header-2{ float: left; width: 86.4%;  margin:0 auto; height:60px;line-height: 60px; text-align: center;font-size: 1.66rem; color:#fff;} */
.box-ten-1{ width:90%;margin:0 auto; background:#fff;margin-top: 50px;margin-bottom: 203px;}
.box-ten-1 .a-1{ overflow: hidden;margin-bottom: 20px;}
.box-ten-1 .a-1  span{ color:#666666;float: left;  display:block; width: 100%;   font-size: 1.2rem; margin-left: 20%; height: 35px; line-height: 35px;}


.box-ten-1 .a-2{ overflow: hidden;margin-bottom: 30px;}

.box-ten-1 .a-2  input{border:0 ; float: left; margin-left: 20%; display:block; width:60%; background:#fff; font-size: 1rem; height: 33px; line-height:35px;border: solid #dfdfdf 1px; color:#999; }


.box-ten-1 .a-4 { overflow: hidden; margin-bottom: 30px; }
.box-ten-1 .a-4  button{border:0 ;display:block; width: 60%; margin:0 auto; background:none; font-size: 1.2rem; height: 48px; line-height: 48px; background:#dd2727;margin-top: 12px; color:#fff;
    -moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
      cursor:pointer;
    } 

