/* 一下是新闻详情 header-1 是公共应用*/

.box-six{background:#fff; width: 100%;}
.box-sixa{ overflow: hidden; background:#fff; width: 100%;}
.box-six-1{display: block; overflow: hidden; background:#fff; width: 100%;  text-align: center; height:55px; color:#333;padding-top: 10px; font-size: 24px;}
.box-six-2{ width: 100%; margin:0 auto; margin-top: 10px; margin-bottom: 30px; background:#fff;font-size: 18px; line-height: 35px;}
.box-six-2 p{ margin-bottom: 30px; background: #fff;  font-size: 18px; line-height: 35px;}
.box-six-2 img{display: block;margin:0 auto;}