
/* 一下是修改个人信息 header-1 是公共应用*/

.box-placea{  background:#eee; width: 1200px;margin:10px auto;  }

.box-placea-1{ width:96%;margin:0 auto; background:#fff;margin-top: 10px;margin-bottom:0px;padding-left: 2%;padding-right: 2%;border-bottom: solid 1px #e1e1e1; border-top: solid #e1e1e1 1px;}
.box-place-1 span{ display:inline-block; width:90%;margin:0 auto; background:#fff;height:35px; line-height: 35px;font-style:normal ;color:#333;font-size: 1.1rem;}
.box-placea-1 span a{ height:35px; line-height: 35px;font-style:normal ;color:#999;font-size: 1rem;}




.box-placea-2{ width:96%;margin:0 auto; background:#fff; padding-bottom: 15px;padding-top: 10px; padding-left: 2%;padding-right: 2%;overflow: hidden;}
.box-placea-2 img{float: left; display:block; max-width:30%;}
.box-placea-2 span { display:block; width: 68%; overflow: hidden;font-size: 0.9rem;padding-left: 2%;}
.box-placea-2 .box-placea-2a{display:block; height:50px; overflow: hidden;line-height: 25px;}
.box-placea-2 h5{ display:block; margin:0 auto; background:#fff;height:35px;line-height: 35px;color:#333;}

.box-placea-3{ width:96%;margin:0 auto; background:#fff;margin-top: 10px; padding-left: 2%;padding-right: 2%;overflow: hidden;
border-bottom: solid 1px #e1e1e1; border-top: solid #e1e1e1 1px;height:38px;line-height: 38px;}
.box-placea-3 em{float: left;font-style: normal;color:#222;font-size: 1.1rem;}
.box-placea-3 a{float: right;}

.box-placea-4{ width:100%;margin:0 auto; background:#fff;}
.box-placea-4 em{float: left;font-style: normal; color:#333;}
.box-placea-4 a{float: right;}
.box-placea-4 span{display:block; width: 96%;border-bottom: solid 1px #e1e1e1;padding-left: 2%;padding-right: 2%;overflow: hidden;
line-height: 38px;margin:0 auto;}

.box-placea-5{ width:100%;margin:0 auto; background:#fff;margin-top: 10px;}
.box-placea-5 em{float: left;font-style: normal;}
.box-placea-5 a{float: right;}
.box-placea-5 span{display:inline-block; width: 96%;border-bottom: solid 1px #e1e1e1;padding-left: 2%;padding-right: 2%;overflow: hidden;
line-height: 38px;margin:0 auto;}
.box-place-5 button{padding-left: 20%; padding-right: 20%;border:0 none; }


.box-placea-5 p{ margin-left: 2%;}
.yanse-11{color:#ff5000!important;}
.box-placea-2 span{ float: left; width: 60%;}

.ddh{line-height: 40px; background: #fff; border-bottom: 1px solid #ccc; padding: 0 10px; font-size: 14px;}