/* 一下是积分转账样式 header-1 是公共应用 */

.box-retrieve{  background:#fff; width: 100%;  }

.box-retrieve-1 span{ width:28%;display: inline-block;text-align: right;font-size:1rem; height:38px; line-height: 35px;; color:#333;margin-bottom: 10px; overflow: hidden;}
.box-retrieve-1 .a-1a{ width:35%;display: inline-block;text-align: left;}
.box-retrieve-1 .a-1b{ width:35%;display: inline-block;text-align: left; color:#666;}
.box-retrieve-1 .a-1a input{ width:98%;text-align: left;height:35px; line-height: 35px;padding-left: 2px;color:#666;border:0 none; border:solid 1px #dedede;}
.box-retrieve-1 .a-1d{ width:17%;display: inline-block;text-align: left;}
.box-retrieve-1 .a-1d input{ width:97%;text-align: left;height:35px; line-height: 35px;padding-left: 2px;color:#666;border:0 none; border:solid 1px #dedede;}
.box-retrieve-1{ width:90%;margin:0 auto; background:#fff;margin-top: 50px;}

  @media screen and (max-width: 571px) {
 
   .box-retrieve-1 .a-1b{ width:80%;display: inline-block;text-align: left; margin:0 auto; margin-left: 29.5%;}
   .box-retrieve-1 .a-1a{ width:50%;display: inline-block;text-align: left;}
   .box-retrieve-1 .a-1d{ width:25%;display: inline-block;text-align: left;}
   .box-retrieve-1 .a-1d input{ width:96%;text-align: left;height:35px; line-height: 35px;padding-left: 2px;color:#666;border:0 none; border:solid 1px #dedede;}
   .box-retrieve-1 .a-1a input{ width:97%;text-align: left;height:35px; line-height: 35px;padding-left: 2px;color:#666;border:0 none; border:solid 1px #dedede;}
}

.box-retrieve .a-1 .a-1c{background:#e45252; height:35px; line-height: 35px; text-align: center;color:#fff;cursor:pointer;}
.box-retrieve .a-1 .a-1b i{color:red;font-style: normal;}

.box-retrieve-1 .a-4 { overflow: hidden; margin-bottom: 30px; }
.box-retrieve-1 .a-4  button{border:0 ;display:block; width: 60%; margin:0 auto; background:none; font-size: 1.2rem; height: 40px; line-height: 40px; background:#dd2727;margin-top: 12px; color:#fff;
    -moz-border-radius: 10px;      /* Gecko browsers */
    -webkit-border-radius: 10px;   /* Webkit browsers */
    border-radius:10px;            /* W3C syntax */
      cursor:pointer;
    } 

