
/* 一下是修改个人信息 header-1 是公共应用*/

.box-work{  background:#fff; width: 100%;  }

.box-work-1{ width:90%;margin:0 auto; background:#fff;margin-top: 50px;}
.box-work-1 .a-1{ overflow: hidden;margin-bottom: 30px;}
.box-work-1 .a-1  span{ color:#333;float: left;  display:block; width: 35%;   font-size: 0.9rem; text-align: right;height: 35px; line-height: 35px;}
.box-work-1 .a-1  input{border:0 ; float: left;  display:block; width: 44%; background:#fff; font-size: 1rem; height: 33px; line-height:35px;border: solid #dfdfdf 1px; color:#999; color:#999;padding-left: 1%;}


.box-work-1 .a-2{ overflow: hidden;margin-bottom: 30px; color:#333;}
.box-work-1 .a-2  span{ color:#333;float: left;  display:block; width: 35%;   font-size: 0.9rem; text-align: right; line-height: 35px;}
.box-work-1 .a-2  input{border:0 ; float: left;  display:block; width: 44%; background:#fff; font-size: 1rem; line-height:35px;border: solid #dfdfdf 1px; color:#999; color:#999;padding-left: 1%;}

.box-work-1 .a-4 { overflow: hidden; margin-bottom: 30px; }
.box-work-1 .a-4  button{border:0 ;display:block; width: 65%; margin:0 auto; background:none; font-size: 1.2rem; height: 48px; line-height: 48px; background:#dd2727;margin-top: 12px; color:#fff;
    -moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
      cursor:pointer;
    } 


.box-work-1 .a-3  button{border:0 ;display:block;  background:none; font-size: 0.9rem; height: 48px; line-height: 48px; background:#fff;border:solid 1px #e1e1e1;
      cursor:pointer;
    } 
textarea{text-align: left;}
